<div class = "container">
  <div class="page-header"><h1>New Register</h1></div>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>">
      <%= message %>
    </div>
  <% end %>

  <%= render 'form', register: @register %>

  <%= link_to 'Back', login_path %>
</div>

